*{
	padding: 0px;
	margin: 0px;

}
body{

font-family: 'Roboto', sans-serif;
background:url(../img/10.jpg);
background-repeat: no-repeat;
background-size:cover;
}

.container
{
width: 1140;
height: 0px auto;



}

.reset-from{
		background-color:#42090930 ;
		padding: 30px;
		margin-left: 300px;
		margin-right: 300px;
		margin-top: 100px;
		margin-bottom: 0px



}
.reset-from h4{
	color: #FFC107;
	margin-bottom: 10px;
	
}
.reset-from h2 {
	text-align: center;
	color: #ffc107ba;;
	font-size: :200px;
	text-transform: uppercase;
	margin: 100px 10px;
	float: center;
	background-color:#ff31007a;

}

.reset-from img{

margin:auto;
display: block;
width: 170px;
height:170px;

}


.from-control{


	width: 90%;
	height:10px;
	margin-bottom:30px;

	padding: 20px 20px;
	
	background-color:#100303cc;
	border: none;
	border-radius: 20px;

}

.btn{
    margin:0 auto;
	display:block;
	padding:10px 30px;
	background-color:#f53705bd;
	border: none;
	border-radius: 20px;


}


.btn:hover{

	box-shadow: 2px 4px 5px yellow;
}

.btnlogin{

	float: right;
	margin:0 auto;
	display:block;
	padding:10px 30px;
	background-color:#f53705bd;
	border: none;
	border-radius: 20px;

}
.btnlogin:hover{
	box-shadow: 2px 4px 5px yellow;

}
.btnreg{
	float: left;
	margin:0 auto;
	display:block;
	padding:10px 30px;
	background-color:#f53705bd;
	border: none;
	border-radius: 20px;


}
.btnreg:hover{
	box-shadow:2px 4px 5px yellow;


}